body {
    margin: 0;
    width: 100vw;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

header {
     margin: 38.75px 165px 0 165px;
     display: flex;
     justify-content: space-between;
}

header > img {
    align-self: center;
}

header > button {
    top: 24px;
    left: -165px;
    line-height: 28px;
    font-size: 18px;
    font-weight: bold;
    background-color: #13183F;
    color: white;
    border: none;
    border-radius: 28px;
    padding: 14px 32px;
    text-align: center;
}

header > button:hover {
    cursor: pointer;
    background-color: #666CA3;
}

.hero-section {
    margin: 185px 0 0 165px;
    /* width: 100vw; */
    /* overflow: hidden; */
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
} 

#left-container {
    min-width: 457px;
    margin-right: 162px;
}

#left-container > h1 {
    font-weight: 800;
    font-size: 54px;
    letter-spacing: 1px;
    text-align: left;
    color: #13183F;
}

#left-container > p {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    color: #83869a;
}

#left-container > button {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    padding: 19px 32px 16px;
    border-radius: 28px;
    background-image: linear-gradient(#ff6f48, #f02aa6);
    border: none;
    color: white;
}

#left-container > button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.hero-image {
    /* max-width: 656px; */
    max-width: 100%;
    position: relative;
    top: -480px;
    right: 0;
    z-index: 2;
    /* margin: auto; */
}

.course-section {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-auto-rows: 322px;
    margin: 0 165px;
    /* grid-gap: 80px 30px; */
}

.course-grid-item {
    margin: 0 30px 80px 0;
}