body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
}

@media (min-width: 375px) {

    body {
        background-image: linear-gradient(#ffffff, #f0f1ff);
    }

    header {
        margin: 1rem 1rem 0 1rem;
        max-height: 3rem;
        display: flex;
        justify-content: space-between;
    }

    header > img {
        min-width: 5.56rem;
        padding: .375rem 0 .437rem 0;
        margin-top: auto;
        margin-bottom: auto;
    }
    header > button {
        line-height: 1.75rem;
        font-size: 1rem;
        letter-spacing: 0;
        font-weight: bold;
        background-color: #13183F;
        color: white;
        border: none;
        border-radius: 28px;
        padding: .56rem 1.5rem .69rem;
        text-align: center;
        min-width: 8.75rem;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
    }

    #left-container {
        margin: 2.8rem 1rem 2.88rem;
    }

    #left-container > h1 {
        color: #13183F;
        font-size: 2.5rem;
        letter-spacing: 0;
        font-weight: 800;
        margin: 0;
        margin-bottom: 1.625rem;
    }

    #left-container > p {
        font-size: 1rem;
        line-height: 1.56rem;
        letter-spacing: 0;
        font-weight: 500;
        color: #83869A;
        margin-bottom: 1.5rem;
    }

    #left-container > button {
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.625rem;
        letter-spacing: 0;
        padding: .937rem 2.31rem .937rem 2.375rem;
        border-radius: 1.75rem;
        background-image: linear-gradient(#ff6f48, #f02aa6);
        border: none;
        color: white;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }

    .hero-image {
        margin: 0 1.5rem;
        max-width: 100%;
    }

    .course-section {
        display: grid;
        max-width: 100%;
        margin: 0 1rem 5rem; 
        z-index: 3;
    }

    #course-grid-intro {
        background-image: linear-gradient(#ff6f48, #f02aa6);
        padding: 1.5rem 1.813rem 2rem 1.75rem;
        border-radius: .625rem;
        margin-bottom: 2.5rem;
        z-index: 1;
        overflow: visible;


    }
    
    #course-grid-intro > p {
        color: white;
        font-weight: 900;
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: 0;
        text-align: left;
        margin: 0;
        position: relative;

    }

    .course-grid-item {
      background-color: white;
      margin-bottom: 2.5rem;
      padding: 3.5rem 1.813rem 2rem 1.75rem;
      max-height: 16.188rem;
      border-radius: .625rem;
      position: relative;
    }

    .course-grid-item > img {
        position: absolute;
        top: -24px;
    }

    .course-grid-item > h2 {
        font-weight: 800;
        font-size: 1.25rem;
        color:#13183F;
        margin-bottom: 1rem;
    }

    .course-grid-item > p {
        font-weight: 500;
        font-size: 1rem;
        margin-bottom: 1.5rem;
        color: #83869A;
    }

    .course-grid-item > a {
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: 700;
        color: #f74780;
        text-decoration: none;
    }

    footer {
        display: flex;
        padding: 2.25rem 1rem;
        background-color: #13183F;
        justify-content: space-between;
    }

    footer > img {
        min-width: 5.5625rem;
        padding: .375rem 0 .4375rem 0;
        margin-top: auto;
        margin-bottom: auto;
    }

    footer > button {
        line-height: 1.75rem;
        font-size: 1rem;
        letter-spacing: 0;
        font-weight: bold;
        background-image: linear-gradient(#4851FF, #F02AA6);
        color: white;
        border: none;
        border-radius: 1.75rem;
        padding: .5625rem 1.5rem .6875rem;
        text-align: center;
        font-family: 'Plus Jakarta Sans', sans-serif;
    }
}

@media (min-width: 768px) {
    header {
        margin: 1.5rem 2.5rem 6.188rem 2.438rem;
    }

    .hero-section {
        flex-direction: row;
        position: relative;
        margin-bottom: 11.63rem;
        max-width: 100vw;
        z-index: 500;
        overflow-x: clip;
        overflow-clip-margin: 0px;
    }

    #left-container {
        margin: 0;
        margin-left: 2.438rem;
        max-width: 24.88rem;
    }

    #left-container > h1 {
        margin-bottom: 1.625rem;
    }

    .hero-image {
        content: url("images/image-hero-tablet@2x.webp");
        max-width: 40.044rem;
        position: absolute;
        top: -188px;
        right: -246px;
        z-index: 501;
    }

    .course-section {
        display: grid;
        margin: 0 2.5rem 5.375rem 2.438rem;
        grid-template-columns: 1fr 1fr;
        justify-content: stretch;
        z-index: 2;
    }

    #course-grid-intro {
        background-image: linear-gradient(#ff6f48, #f02aa6);
        padding: 3.5rem 1.313rem 8.688rem 2rem;
        margin-right: .625rem;
        margin-bottom: 3.5rem;
        border-radius: .625rem;
        min-width: 21.188rem;
    }

    .course-grid-item {
        margin: 0 .625rem 3.5rem 0;
        padding: 3.5rem 1.375rem 2rem 2rem;
    }

    .course-grid-item > img {
        position: absolute;
    }

    .course-grid-item > h2 {
        margin-top: 0;
    }

    .course-grid-item > p {
        line-height: 1.625rem;
        margin-top: 0;
    }

    footer {
        padding: 2.25rem 2.438rem 2.5rem;
    }

@media (min-width: 1440px) {
    header {
        margin: 1.8125rem 10.313rem 10.75rem;
    }

    header > img {
        min-width: 7.125rem;
        padding: .375rem 0 .4375rem 0;
        margin-top: auto;
        margin-bottom: auto;
    }

    header > button {
        max-height: 3.5rem;
        font-size: 1.125rem;
        /* padding: 14px 31px 14px 32px; */
        /* text-align: center; */
    }

    header > button:hover {
        background-color: #666ca3;
        cursor: pointer;
    }

    .hero-section {
        margin-bottom: 15.625rem;
        overflow-x: clip;
        overflow-clip-margin: 0px;
    }

    #left-container {
        margin-left: 10.3125rem;
        max-width: 28.563rem;
    }

    #left-container > h1 {
        margin-bottom: 1.8125rem;
        font-size: 3.5rem;

    }

    #left-container > p {
        margin-bottom: 2.5rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    #left-container > button {
        max-height: 3.938rem;
    }

    #left-container > button:hover {
        cursor: pointer;
        opacity: 50%;
    }

    .hero-image {
        content: url("images/image-hero-desktop@2x.webp");
        max-width: 61.977rem;
        top: -373px;
        right: -321px;
    }

    .course-section {
        display: grid;
        margin: 0 10.313rem 8.75rem 10.313rem;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: stretch;
        z-index: 2;
    }

    .course-grid-item {
        margin: 0 30px 80px 0;
        padding: 4rem 2rem 2.5rem;
    }

    #course-grid-intro {
        background-image: linear-gradient(#ff6f48, #f02aa6);
        padding: 4rem 2rem 8.625rem;
        margin-right: 1.875rem;
        margin-bottom: 5rem;
        border-radius: .625rem;
        max-width: 21.875rem;
    }

    footer {
        padding: 2rem 10.313rem;
    }

    footer > button {
        max-height: 3.5rem;
        font-size: 1.125rem;
        padding: .875rem 1.938rem .875rem 2rem;
    }

    footer > button:hover {
        cursor: pointer;
        opacity: 90%;
        background-image: linear-gradient(#ff6f48, #f02aa6), #ffffff;
        background-blend-mode: overlay;
    }

}

}
