@use 'func-variables' as *;


@mixin h1-properties($font-size: 2.5rem, $line-height: 2.75rem) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: 900;
    text-align: center;    
}

@mixin h2-properties($font-size: 2rem, $color: $dark-text, $line-height: 2.25rem) {
    font-weight: 900;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: 0;
    text-align: center;
    color: $color;
}

@mixin paragraph-properties($font-size: 1rem, $color: $gray-text) {
    font-size: $font-size;
    font-weight: 500;
    line-height: 1.625rem;
    letter-spacing: 0;
    text-align: center;
    color: $color;
}

@mixin button-properties($color: $hero-blue, $width: pxtoRem(193px), $padding: 1rem 2.5rem) {
    min-width: $width;
    min-height: pxtoRem(58px);
    background-color: $color;
    border-radius: pxtoRem(32px);
    font-size: 1rem;
    line-height: 1.625px;
    font-weight: 900;
    border-style: none;
    padding: $padding;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}